{% extends "base.html" %} {% block title %}About{% endblock %} {% block content %}
<section class="about-content">
    <h2>Visualizing Housing Market Trends</h2>
    <h3>An Analysis of Sale Prices and Features using Tableau</h3>

    <div class="about-points">
        <p>✔ The goal is to address challenges in understanding the factors that influence house prices and sales trends.</p>
        <p>✔ By analyzing comprehensive housing data, including the total sales by years since renovation, house age distribution by the number of bathrooms, bedrooms, and floors, and the impact of renovations on house age, the company aims to uncover key
            insights.</p>
        <p>✔ Utilizing the tools for this analysis, the objectives to visualize and interpret patterns in the housing market to inform strategic decisions, optimize pricing strategies, and enhance overall market competitiveness.</p>
    </div>
</section>
{% endblock %}